# Azure
AZURE_SUBSCRIPTION_ID=your-subscription-id-here
AZURE_RESOURCE_GROUP=rg-siem-lab1

# Wazuh
WAZUH_API_URL=https://your-wazuh-ip
WAZUH_API_USER=your-username
WAZUH_API_PASS=your-password

# Threat Intel
VIRUSTOTAL_API_KEY=your-key-here
ABUSEIPDB_API_KEY=your-key-here
GREYNOISE_API_KEY=your-key-here

# AI
ANTHROPIC_API_KEY=your-key-here

# Email
SMTP_EMAIL=your-gmail-here
SMTP_APP_PASSWORD=your-app-password-here
